header {
  text-align: center;
}

nav > a {
  padding-right: 10px;
  padding-left: 10px;
  background: yellow;
}

figure {
  width: 900px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#featured-property > p {
  width: 790px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

#details {
  display: block;
  background-color: gray;
  
}

div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: gray;
}



